In [1]:
#Import relevant libraries
import pandas as pd
from datetime import datetime

In [2]:
# Load raw data from the CSV file
raw_data = pd.read_csv('eu_uk_inflation_2015_2025.csv')
df = raw_data.copy()

In [3]:
# Display the first rows of the data
df.head()

,DATAFLOW,LAST UPDATE,freq,unit,coicop,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG,CONF_STATUS
0,ESTAT:PRC_HICP_MIDX(1.0),17/07/25 11:00:00,Monthly,"Index, 2015=100",All-items HICP,Austria,2015-01,98.48,NaN,NaN
1,ESTAT:PRC_HICP_MIDX(1.0),17/07/25 11:00:00,Monthly,"Index, 2015=100",All-items HICP,Austria,2015-02,98.75,NaN,NaN
2,ESTAT:PRC_HICP_MIDX(1.0),17/07/25 11:00:00,Monthly,"Index, 2015=100",All-items HICP,Austria,2015-03,100.15,NaN,NaN
3,ESTAT:PRC_HICP_MIDX(1.0),17/07/25 11:00:00,Monthly,"Index, 2015=100",All-items HICP,Austria,2015-04,100.28,NaN,NaN
4,ESTAT:PRC_HICP_MIDX(1.0),17/07/25 11:00:00,Monthly,"Index, 2015=100",All-items HICP,Austria,2015-05,100.45,NaN,NaN

In [4]:
# Select the relevant columns
df_filtered = df[['coicop','geo','TIME_PERIOD','OBS_VALUE']]
df_filtered.reset_index(drop=True)
df_filtered

                                 coicop             geo TIME_PERIOD  OBS_VALUE
0                        All-items HICP         Austria     2015-01      98.48
1                        All-items HICP         Austria     2015-02      98.75
2                        All-items HICP         Austria     2015-03     100.15
3                        All-items HICP         Austria     2015-04     100.28
4                        All-items HICP         Austria     2015-05     100.45
...                                 ...             ...         ...        ...
45144  Miscellaneous goods and services  United Kingdom     2020-07     104.90
45145  Miscellaneous goods and services  United Kingdom     2020-08     105.10
45146  Miscellaneous goods and services  United Kingdom     2020-09     105.10
45147  Miscellaneous goods and services  United Kingdom     2020-10     105.20
45148  Miscellaneous goods and services  United Kingdom     2020-11     105.10

[45149 rows x 4 columns]

In [5]:
# Convert the "date" column to actual datetime data type
df_filtered['date'] = pd.to_datetime(df['TIME_PERIOD'], format='%Y-%m')
df_filtered.head()

C:\Users\Mauricio Ramirez\AppData\Local\Temp\ipykernel_30688\3974495677.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = pd.to_datetime(df['TIME_PERIOD'], format='%Y-%m')

           coicop      geo TIME_PERIOD  OBS_VALUE       date
0  All-items HICP  Austria     2015-01      98.48 2015-01-01
1  All-items HICP  Austria     2015-02      98.75 2015-02-01
2  All-items HICP  Austria     2015-03     100.15 2015-03-01
3  All-items HICP  Austria     2015-04     100.28 2015-04-01
4  All-items HICP  Austria     2015-05     100.45 2015-05-01

In [6]:
# Drop the original date column
df_eu = df_filtered.drop(['TIME_PERIOD'], axis=1)
df_eu.head()

           coicop      geo  OBS_VALUE       date
0  All-items HICP  Austria      98.48 2015-01-01
1  All-items HICP  Austria      98.75 2015-02-01
2  All-items HICP  Austria     100.15 2015-03-01
3  All-items HICP  Austria     100.28 2015-04-01
4  All-items HICP  Austria     100.45 2015-05-01

In [7]:
# Double check the column's data types
df_eu.dtypes

coicop               object
geo                  object
OBS_VALUE           float64
date         datetime64[ns]
dtype: object

In [8]:
# Print the amount of rows and columns
df_eu.shape

(45149, 4)

In [10]:
# Export the data frame as Excel file
df_eu.to_excel('Eu_Inflation_Trends_Analysis.xlsx', index=False)